#regist-form {
    position: relative;
    width: 320px;
    margin: 280px auto 0;
}
#regist-form div {
    margin-bottom: 20px;
}
#regist-form div label{
    display: inline-block;
    width: 80px;
    height: 27px;
    margin-right: 10px;
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
    line-height: 27px;
}
#regist-form div input {
    display: inline-block;
    width: 220px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.btn {
    display: block;
    height: 30px;
    width: 40%;
    padding: 0 15px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    background: skyblue;
    color: #fff;
    outline: none;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
}
.tip {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #333;
}
.err-tip{
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: center;
    color: red;
}